@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jua&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "DM Sans", sans-serif;
}

.header {
  background-color: #efefef;
  padding: 20px 40px 20px 40px;
}

.container {
  width: 70vw;
  /* background-color: beige; */
  margin-left: auto;
  margin-right: auto;
}

/* CSS HEADER */

.logo-block {
  /* background-color: rgb(228, 203, 173); */
  display: flex;
  align-items: center;
}

.options-block {
  /* background-color: rgb(228, 203, 173); */
  display: flex;
  align-items: center;
  width: 23vw;
  justify-content: space-between;
}

.icon-block {
  /* background-color: rgb(228, 203, 173); */
}

.inner-header {
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
}

.header .inner-header img {
  width: 50px;
}

.header .inner-header .logo-block a:nth-child(2) {
  font-size: 25px;
  font-weight: 700;
  margin-left: 10px;
  text-decoration: none;
  color: #232323;
}

.header .inner-header .options-block a {
  font-weight: 500;
  font-size: 18px;
  color: #232323;
  text-decoration: none;
}

.header .inner-header .icon-block {
  width: 11vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .outer-icon {
  width: 50px;
  height: 50px;
  background-color: white;
  text-align: center;
  line-height: 55px;
  border-radius: 8px;
  cursor: pointer;
}

.header .fa-brands {
  font-size: 23px;
}

/* END CSS HEADER */

/* CSS BOX-1 */
.box-1 {
  position: relative;
  width: 100vw;
  background-image: url("https://mobirise.com/extensions/softwarem4/software-app/assets/images/background1.jpg");
  background-position: 10px -200px;
  background-size: 110%;
  /* background-color: aquamarine; */
}

.box-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 0;
}

.box-1 * {
  position: relative;
  z-index: 1;
}

.box-1 .inner-box-1 {
  padding-top: 130px;
  padding-bottom: 170px;
  /* background-color: #cccccc; */
}

.inner-box-1 div:nth-child(1) {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}

.inner-box-1 div:nth-child(2) {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
  color: white;
}

.inner-box-1 div:nth-child(3),
.inner-box-1 div:nth-child(4) {
  font-weight: 500;
  margin-bottom: 2px;
  color: #bbbbbb;
  font-size: 18px;
}

.inner-box-1 .button-block {
  margin-top: 40px;
}

.inner-box-1 .button-block button {
  width: 180px;
  height: 55px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
}

.inner-box-1 .button-block button:nth-child(1) {
  background-color: #f7d9c4;
  border: none;
  margin-right: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inner-box-1 .button-block button:nth-child(1):hover {
  background-color: #ffffff;
}

.inner-box-1 .button-block button:nth-child(2):hover {
  border: none;
  background-color: #f7d9c4;
  color: #1b2026;
}

.inner-box-1 .button-block button:nth-child(2) {
  border: 2px solid #464646;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
/* END CSS BOX-1 */

/* CSS BOX-2 */

.box-2 {
  background-color: #efefef;
}

.box-2 .inner-box-2 {
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;
}

.box-2 .left-component {
  width: 30vw;
  height: 80vh;
  background-image: url("/images/image-box-2.jpg");
  border-radius: 7px;
}

.box-2 .right-component {
  padding-top: 20px;
}

.box-2 .right-component > div:nth-child(1) {
  color: #777777;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.box-2 .right-component > div:nth-child(2),
.box-2 .right-component > div:nth-child(3) {
  color: #232323;
  font-size: 70px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
}

.box-2 .icon-component {
  display: flex;
  margin-top: 33px;
  margin-bottom: 33px;
}

.box-2 .icon-component > div {
  background-color: white;
  border-radius: 8px;
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 22px;
}

.box-2 .icon-component i {
  color: #ff8484;
  font-size: 40px;
}

.box-2 .icon-component span {
  font-weight: 700;
  margin-top: 15px;
}

.box-2 .right-component > div:nth-child(5),
.box-2 .right-component > div:nth-child(6) {
  color: #999f9e;
  font-size: 19px;
}

.box-2 .right-component button {
  width: 180px;
  height: 55px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  background-color: #f7d9c4;
  border: none;
  margin-right: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 35px;
}

.box-2 .right-component button:hover {
  background-color: #ffffff;
}
/* END CSS BOX-2 */

/* CSS BOX 3 */

.box-3 {
  background-color: #efefef;
}

.inner-box-3 {
  padding: 10px 0px 100px 0px;
  /* background-color: #999f9e; */
}

.inner-box-3 .block {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 55px 70px;
  position: relative;
}

.inner-box-3 h3 {
  color: #777777;
  margin-bottom: 15px;
}

.inner-box-3 h1 {
  color: #14191e;
  font-size: 70px;
  height: 75px;
}

.box-3 img {
  width: 30%;
  position: absolute;
  bottom: 0;
  right: 5%;
  border-radius: 10px 10px 0px 0px;
}

/* END CSS BOX 3 */
